.warna-bg{
	background: linear-gradient(to right, rgba(36, 129, 252, 0.92), rgba(43, 208, 219, 0.92));
}

.jumbotron-bg{
	background-size: cover;
	background: url(../img/medical-bg.jpg);
	background-size: 300px;
}

.warna-text{
	color: black;
}
